.main{
    /* background-color:rgba(5,51,101,0.8); */
    height: 60vh;
    width: 50%;
    position: absolute;
    left: 5%;
    top: 5vh;
    border: 1px solid black;
    border-radius: 0px 25px 25px 25px;
    box-shadow: 6px 6px 6px green;

}
.container{
    /* margin: 3h 0 0 10%; */
    position: absolute;
    left: 20%;
    width: 60%;
    height: 25vh;
}
.container-head{
    font-size: 3rem ;
    font-weight: bolder;
    color: rgb(24, 200, 133);
}
.no-bold span{
    font-weight: normal;
    color: black;
}
span.bold{
    font-weight: bold;
    color: green;
}

div.container{
    font-size: 2rem;
    /* color: white; */
}
span{
    display: inlineb;
}
.container-img img{
    width: 35%;
    height: 90%;
    margin-left: 8%;
}
#accountInformation{
    color:rgb(24, 200, 133);
}
@media screen and (max-width:1790px) {
    div.container{
        width: 100%;
    }
    .container-img img{
        width:25%;
    }
    
}
 @media screen and (max-width:1365px) {
  .main{
    width:60%;
  }
}
@media screen and (max-width:1160px) {
    .main{
        width: 70%;
    }
    
}
@media screen and (max-width:980px) {
    .main{
        width: 80%;
    }
    
}
@media screen and (max-width:850px) {
    .main{
        width: 100%;
    }
    
}
@media screen and (max-width:700px) {
    .main{
        top: 10vh;
        width:100%
    }
    div.container{
        font-size: 1.7rem;
    }
    .container-img img{
        width: 30%;
    }
    
}
@media screen and (max-width:630px) {
    .container-head{
        font-size: 2.5rem;
    }
    div.container{
        font-size: 1.3rem;
    }
    .container-img img{
        width: 30%;
    }
    .main{
        height: 50vh;
    }
    
}
@media screen and (max-width:510px) {
    .main{
        top: 10vh;
        width:100%;
        height: 40vh;
    }
    div.container{
        font-size: 1.2rem;
    }
    .container-img img{
        width: 30%;
    }
    .container-head{
        font-size: 2.2rem;
    }
    .container-img img{
        width: 30%;
        height: 70%;
    }
    
}
@media screen and (max-width:460px) {
    .main{
        top: 10vh;
        width:100%
    }
    div.container{
        font-size: 1rem;
    }
    .container-img img{
        width: 30%;
    }
    .container-head{
        font-size: 1.8rem;
    }
    
}
@media screen and (max-width:365px) {
    .main{
        top: 10vh;
        width:100%;
        height: 35vh;
    }
    div.container{
        font-size: .9rem;
    }
    .container-img img{
        width: 40%;
    }
    .container-head{
        font-size: 1.5rem;
    }
    
}