body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.addListingContainer{
    
    justify-content: center;
    box-sizing: border-box;
    /* height: 100vh;
    width: 100%; */

    width: 100%;
    height: 100vh;
    min-height: 900px;
    position:relative;
    top:0px;
    left: 0px;
    opacity: 0.8;
    background:#074790;
    /* overflow: scroll; */
    scroll-behavior: auto;
}



.addListingFormContainer{
    
    /* margin-top: 5%; */
    background: #0B0790;
    width: 70%;
    height: 60%;
    text-align: left;
    padding: 10px;
    border-radius: 2%;
    
}

#addListingTitle{
    text-align: center;
    color:#078C90;
    padding: 10px;
    font-size: 4.5vw;
    text-align: left;
    margin-left: 10px;
}

.addListingFormContainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 12px;
    position: relative;
    top: 2vw;
    right: 7vw;
}
.inputTextFelidRadio{
    display: inline-block;

}



.map{
    
    height: 40%;
    width: 80%;
    background-color: aquamarine;
    padding: auto;
    align-items: center;
    
}



#addListing{
    color:rgb(24, 200, 133);
}


input[type="submit"]{
    cursor: pointer;
    border: none;
    font-weight: bolder;
    font-size: 1.5rem;
}


