div.container-form{
    background-color: rgba(5,51,101,0.8);
    color: white;
    position: absolute;
    top: 20vh;
    left: 30%;
    width: 40%;
    height: 75vh;
    font-size: 1.5rem;
    font-weight: bolder;
    z-index: 1;
    border-radius: 8px;
}

div.container-form hr{
    width: 75%;
}
div form{
    left: 10%;
}
a{
    text-decoration: none;
    color:white;
}
div label{
    position: relative;
    left:2%;
}
p#forget-pass{
    position: relative;
    left: 60%;
}
p#sign-up{
    position: relative;
    left: 10%;
}
p#sign-up a{
    background-color: rgb(85, 85, 232);
}
div.container-form h2,h3{
    text-align: center;
    color: rgb(24, 200, 133);
    
}
div form input{
    border-radius: 8px;
    width:80%;
    height: 8vh;
    font-size: large;
}

div form button{
    color:white;
    border: none;
    border-radius: 8px;
    width: 30%;
    height: 7vh;
    position: relative;
    left: 25%;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color:rgb(24, 200, 133);
}
div form button:hover{
    color: white;
    background: #102b7b;
    background-image: url();
    cursor: pointer;
}


