


.main{
   position: absolute;
}

.container{
    margin: 2vh 0 0 10%;
}

.container-head{
    color: rgb(24, 200, 133);
}
.container p{
    font-size: 3rem;
    font-weight: bolder;
}
div.container-imageCarousel{
    background-color: rgba(5,51,101,0.8);
    width: 40%;
    height: 20vh;
}
div.container-map{
    background-color: rgba(5,51,101,0.8);
    width: 40%;
    height: 20vh;
}
span{
    font-size: 2rem;
    font-weight: bold;
}
.container-description{
    font-size: 2rem;
    font-weight: normal;
    width: 50%;
}
