
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.signUpContainer{
    margin: auto;
    margin-top: 3vh;
    background-color: #053367;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    font-size: 3vh;
    text-align: center;
    color: #D1F1FF;
    height: fit-content;
    max-height: 85vh;


    overflow-y: scroll;
    
    position:absolute;
    margin-left: 35%;
    z-index: 4;
    font-weight: bolder;

}


.signUpContainer::-webkit-scrollbar {
    width: 0.5em; /* Adjust as needed */
  }
  
  .signUpContainer::-webkit-scrollbar-track {
    background-color: transparent; /* Set to the same color as the background */
  }
  
  .signUpContainer::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set to the same color as the background */
  }

.inputTextFelid{
    display: inline-block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: .5px;
    margin: 10px 0;
    height: 45px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;


}

form{
    position: relative;
    z-index: 1;
} 

.formLabel{

    font-size: 3vh;
    padding: 2px;
    color: #D1F1FF;

}

.inputButton{
    font-size: 2vh;
    background-color: #2AFFAD;
    border-color: #2AFFAD;
    display: inline-block;
    border-radius: 5px;
    height:50px;
    width: 30%;

    font-weight: bolder;
    
}
.inputButton#landLord{   
    float:left;
    position: relative;
}
.inputButton#tenant{
    position: relative;
    float:right;
    
}





@media screen and (max-width:1500px){
    .signUpContainer{
        width: 40%;
    }
}

@media screen and (max-width:1200px){
    .signUpContainer{
        width: 500px;
        margin-left: 30%;
    }
}

@media screen and (max-width:1000px){
    .signUpContainer{
        width: 500px;
        margin-left: 25%;
    }
}

@media screen and (max-width:850px){
    .signUpContainer{
        width: 500px;
        margin-left: 20%;
    }
}


@media screen and (max-width:750px){
    .signUpContainer{
        width: 500px;
        margin-left: 15%;
    }
}


@media screen and (max-width:650px){
    .signUpContainer{
        
        margin-left: 3%;
        margin-top: 20%;
        width: 95vw;

    }

    .inputTextFelid{
        width: 80%;
    }



  

    
}



@media screen and (max-width:400px){
    .signUpContainer{
    
        margin-top: 27%;
     
    }
    
}


@media screen and (max-width:300px){
    .signUpContainer{
    
        margin-top: 32%;
     
    }
    
}


@media screen and (max-width:200px){
    .signUpContainer{
    
        margin-top: 40%;
     
    }
    
}
